# Environment variables
.env

# SQLite databases
*.db

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# Storage
storage/documents/*
!storage/documents/.gitkeep
